extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Đây là thẻ H1
					p
						a.btn.btn-more(href="#") Lien ket
	
		
	section.home_service
		.container
			.row
				.col
					h2 Service we provice
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_icon_1.png", alt="")
					h3 tiêu đề h3
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_2.png", alt="")
					h3 tiêu đề h3
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_3.png", alt="")
					h3 tiêu đề h3
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_4.png", alt="")
					h3 tiêu đề h3
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
	section.home_team
		.container
			.row
				.col
					h2 meet our beatifull team
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_team_01.png", alt="")
					h3 tiêu đề h3
					span CEO/marketing Guru
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
					.col
						a(href="#") 
							i.fab.fa-facebook-f
				.col-sm-6.col-md-3
					img(src="./img/home_team_02.png", alt="")
					h3 tiêu đề h3
					span CEO/marketing Guru
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_team_03.png", alt="")
					h3 tiêu đề h3
					span CEO/marketing Guru
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				.col-sm-6.col-md-3
					img(src="./img/home_team_04.png", alt="")
					h3 tiêu đề h3
					span CEO/marketing Guru
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
	
